#canvas-container{
    display: flex;
    justify-content: center;
}

#megaman{
    background-image: url("./megaman_sprite_sheet.png");
    background-position: 0 20;
    width: 500px;
    height: 500px;
}
